/*reset*/
*{ margin: 0; padding: 0;}
html,body{ width: 100%; height: 100%; font-family: "微软雅黑";}
a{text-decoration: none;}

/*居中*/
#nav{ width: 1366px; height: 768px; border: 1px solid #ccc; margin: auto;}
/*位置*/
.wrap{ width: 85.7%; margin: 20px auto;}
/*换行线*/
#header{ width: 100%; height: 40px; border-bottom: 1px solid #eee;} 

#scend{;margin-top: 30px;}
.f2{font-size: 44px;margin: 4px;color: bisque;}

/*中间居中*/
#nav_2{ width: 1009px; height: 768px; border: 0px solid #ccc; margin: auto;position: relative;top: -30px;}

/*分割线靠文字后*/
.f3{border-bottom: 1px solid #eee;position: relative;width: 875px;left:130px;top:-10px;}

/*苗木名称*/
.name{position: relative;left: 220px;top: 30px;}
input{width: 256px;height: 24px;}
.l1{margin-right: 15px;}

/*别名*/
.alias{position: relative;left: 650px;top: 0px;}
.l2{margin-right: 41px;}

/*苗木类型*/
.type{position: relative;left: 220px;top: 15px;}
select{width: 260px;height: 30px;}
.l3{margin-right: 10px;}

/*地区*/
.region{position: relative;left: 650px;top: -15px;}
.l4{margin-right: 6px;}

/*阳光*/
.sun{position: relative;left: 220px;top: 0px;}
.l5{margin-right: 10px;}

/*温度*/
.tem{position: relative;left: 650px;top: -30px;}
.l6{margin-right: 6px;}

/*湿度*/
.hum{position: relative;left: 220px;top: -15px;}
.l7{margin-right: 10px;}

/*土壤*/
.soil{position: relative;left: 650px;top: -45px;}
.l8{margin-right: 6px;}

/*观赏*/
.fea{position: relative;left: 220px;top: -30px;}
.l9{margin-right: 10px;}

/*用途*/
.pur{position: relative;left: 650px;top: -60px;}
.l10{margin-right: 6px;}

/*描述*/
.des{position: relative;left: 220px;top: -30px;}
.l12{position: relative;left: 78px;top: -25px;width: 685px;height: 100px;}


#scend_1{;margin-top: 30px;}
.f4{font-size: 44px;margin: 4px;color: bisque;}

/*第二个中间居中*/
#nav_3{ width: 1009px; height: 768px; border: 0px solid #ccc; margin-top: -10px;position: relative;top: -90px;}

/*第二个分割线靠文字后*/
.f5{border-bottom: 1px solid #eee;position: relative;width: 875px;left:130px;top:-10px;}

/*表格*/
#table table{ width: 94.87%; margin: 0 auto; border: 1px solid #E6EAEE;margin-top: 15px;}
#table table th,#table table td{ height: 40px; font-size: 14px; border: 1px solid #E6EAEE; text-align: center; vertical-align: middle;}
#table table th{ color: #7F8FA4;}
#table table td{ color: #555;}
#table table tr:nth-child(odd){ background-color: #F5F8FA }
#table table tr:nth-child(even){ background-color: #fff }
#table table tr td:nth-child(1){ color: #222;}
#table table tr:hover td{ border-top: 1px solid #1A89E8; border-bottom: 1px solid #1A89E8;}
#table table tr:hover td:first-child{ border-left: 1px solid #1A89E8; color: #1A89E8;}
#table table tr:hover td:last-child{ border-right: 1px solid #1A89E8;}/*reset*/
*{ margin: 0; padding: 0;}
html,body{ width: 100%; height: 100%; font-family: "微软雅黑";}
a{text-decoration: none;}

/*居中*/
#nav{ width: 1366px; height: 768px; border: 1px solid #ccc; margin: auto;}
/*位置*/
.wrap{ width: 85.7%; margin: 20px auto;}
/*换行线*/
#header{ width: 100%; height: 40px; border-bottom: 1px solid #eee;} 

#scend{;margin-top: 30px;}
.f2{font-size: 44px;margin: 4px;color: bisque;}

/*中间居中*/
#nav_2{ width: 1009px; height: 768px; border: 0px solid #ccc; margin: auto;position: relative;top: -30px;}

/*分割线靠文字后*/
.f3{border-bottom: 1px solid #eee;position: relative;width: 875px;left:130px;top:-10px;}

/*苗木名称*/
.name{position: relative;left: 220px;top: 30px;}
input{width: 256px;height: 24px;}
.l1{margin-right: 15px;}

/*别名*/
.alias{position: relative;left: 650px;top: 0px;}
.l2{margin-right: 50px;}

/*苗木类型*/
.type{position: relative;left: 220px;top: 15px;}
select{width: 260px;height: 30px;}
.l3{margin-right: 10px;}

/*地区*/
.region{position: relative;left: 650px;top: -15px;}
.l4{margin-right: 6px;}

/*阳光*/
.sun{position: relative;left: 220px;top: 0px;}
.l5{margin-right: 10px;}

/*温度*/
.tem{position: relative;left: 650px;top: -30px;}
.l6{margin-right: 6px;}

/*湿度*/
.hum{position: relative;left: 220px;top: -15px;}
.l7{margin-right: 10px;}

/*土壤*/
.soil{position: relative;left: 650px;top: -45px;}
.l8{margin-right: 6px;}

/*观赏*/
.fea{position: relative;left: 220px;top: -30px;}
.l9{margin-right: 10px;}

/*用途*/
.pur{position: relative;left: 650px;top: -60px;}
.l10{margin-right: 6px;}

/*描述*/
.des{position: relative;left: 220px;top: -30px;}
.l12{position: relative;left: 85px;top: -25px;width: 685px;height: 100px;}


#scend_1{;margin-top: 30px;}
.f4{font-size: 44px;margin: 4px;color: bisque;}

/*第二个中间居中*/
#nav_3{ width: 1009px; height: 768px; border: 0px solid #ccc; margin-top: -10px;position: relative;top: -90px;}

/*第二个分割线靠文字后*/
.f5{border-bottom: 1px solid #eee;position: relative;width: 875px;left:130px;top:-10px;}

/*表格*/
#table table{ width: 94.87%; margin: 0 auto; border: 1px solid #E6EAEE;margin-top: 15px;}
#table table th,#table table td{ height: 40px; font-size: 14px; border: 1px solid #E6EAEE; text-align: center; vertical-align: middle;}
#table table th{ color: #7F8FA4;}
#table table td{ color: #555;}
#table table tr:nth-child(odd){ background-color: #F5F8FA }
#table table tr:nth-child(even){ background-color: #fff }
#table table tr td:nth-child(1){ color: #222;}
#table table tr:hover td{ border-top: 1px solid #1A89E8; border-bottom: 1px solid #1A89E8;}
#table table tr:hover td:first-child{ border-left: 1px solid #1A89E8; color: #1A89E8;}
#table table tr:hover td:last-child{ border-right: 1px solid #1A89E8;}

/*添加价格*/
.add_audit{position: relative;right: -50px;color: beige;background: green;}

.fl{ float: left;}
.fr{ float: right;}
.clear{ content: ''; display: block; clear: both;}
#add_search{width: 100%; height: 66px;}
#add_search .add_audit{ width: 120px; height: 30px; margin: 20px 0 0 30px; font-size: 14px; color: #fff; background-color: #0BBA6B; border-radius: 2px; line-height: 30px; text-align: center;}
#add_search .search{ margin: 20px 30px 0 0;}
#add_search .search input{ width: 240px; height: 30px; text-indent: 10px;}

.clear_1{position: relative;right: -310px;}
#can{position: relative;left: 200px;top: -50px;}

#tj{position: relative;left: 0px;top: -10px;}
